fastapi
uvicorn
httpx
python-dotenv
pydantic
websockets
asyncio
requests
telethon
cryptg
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
firebase-admin
PyJWT
httpx
scikit-learn
numpy
praw